* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*BODY*/
body {
    font-family: poppins;
    background-color: rgb(195, 195, 195);
    position: absolute;

}



body::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: rgb(119, 127, 170);
    opacity: .7;

}

/*FINAL BODY*/

h1,
h2,
h3,
p {
    color: beige;

}

/* HEADER*/
.header {
    background-color: rgb(16, 15, 15);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 10;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.header .logo {
    margin-right: auto;
    cursor: pointer;
}

.header .logo img {
    height: 50px;
    width: auto;
    padding: 5px;
    padding-left: 15px;
    margin: 5px;
}

.header .barra-de-navegacion {
    list-style: none;
}

.header .barra-de-navegacion li {
    display: inline-block;
    padding: 0 20px;

}

.header .barra-de-navegacion a {
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .barra-de-navegacion li a:hover {
    color: aquamarine;
}

.header .boton-Ingresar button {
    font-size: 700;
    color: rgb(30, 33, 35);
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
    margin-right: 20px;

}

.header .boton-Ingresar button:hover {
    color: rgb(0, 0, 0);
    background: linear-gradient(#a4f7f7, #fff2f2, #bb9cff);
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;
}

.cart-icon {
    position: relative;
}

#add-to-cart {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

/*menu de navegacion oculto */ 
/* icono de menú */
.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon i {
    font-size: 24px;
    color: white;
}

/* menú móvil */
.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu ul li {
    padding: 10px;
    text-align: center;
}

.mobile-menu ul li a {
    color: white;
    text-decoration: none;
}

.mobile-menu #cerrar-boton {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

/*-------CARRITO EN MENU MOVIL --------*/

.mobile-menu .cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
}

.mobile-menu .modal {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mobile-menu .modal.visible {
    display: flex;
}

/*------FINAL CARRITO EN MENU MOVIL ------*/

/* Media Queries */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .barra-de-navegacion {
        display: none;
    }

    .mobile-menu {
        opacity: 0;
        visibility: hidden;
        display: flex;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

    }

    .mobile-menu.visible {
        opacity: 1;
        visibility: visible;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .mobile-menu.active {
        display: block;
    }
}

/* menu de navegacion oculto */
/* final HEADER*/
/*--------------*/
/*seccion Bienvenida*/

.main {
    margin-top: 20px;
    width: 100%;
}

.intro {
    width: 90%;
    margin: auto;
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bienvenida {
    align-items: center;
    display: flex;
    font-size: 50px;
}

.subtitulo {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .intro {
        text-align: center;
    }
}
/*final Bienvenida*/
/*----------*/
/*---reseña y video----*/

.Introduccion {
    display: flex;
    justify-content: center;
}


.intro-video {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    background: linear-gradient(#86cbcb, #c3c3c3, #ac8feb);
    border-radius: 10px;
    box-shadow: 10px 10px 15px 0 #04314455;
}


.Introduccion p {
    width: 90%;
    font-size: 18px;
    padding-top: 30px;
    inset: 0;
    margin: auto;
    text-align: center;
    color: black;
    font-weight: 500;
}

.video iframe {
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

}

.Introduccion .seg-parrafo {
    padding: 10px;
    width: 90%;
    display: block;
    text-align: center;
    background: #0c0c0c38;
    box-sizing: border-box;
    border-radius: 4px;
    color: aliceblue;
    text-decoration: none;
    margin-top: 50px;
}

/* Media Queries*/
@media (max-width: 768px) {
    .intro-video {
        flex-direction: column;
        width: 80%;
    }

    .Introduccion p {
        width: 80%;
        font-size: 16px;
    }

    .Introduccion iframe {
        width: 100%;
    }

    .Introduccion .seg-parrafo {
        font-size: 14px;
    }

    .Introduccion {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .Introduccion p {
        font-size: 14px;
    }

    .Introduccion .seg-parrafo {
        font-size: 12px;
    }
}

/*final reseña y video*/
/*-------------------*/
/*Seccion nuestros cursos*/

.titulo-curso {
    padding-top: 3%;
    padding-bottom: 3%;
}

.titulo h2 {
    font-size: 50px;
    text-align: center;
}


.curso {
    width: 250px;
    margin: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(45, 107, 127, 0.6);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    transition: 200ms;
}

.curso:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);    
}


.titulo-curso1 {
    height: 300px;
    width: 100%;
    border-radius: 5px;
}

.comprar-curso,
.ver-curso {
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    background: #075f85;
    box-sizing: border-box;
    border-radius: 4px;
    color: aliceblue;
    text-decoration: none;
    margin-top: 10px;
}

.comprar-curso:hover,
.ver-curso:hover {
    color: #02161f;
    background-color: #6ab2d1;
}

.Flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titulo1 {
    text-align: center;
    font-size: 25px;
}

.descripcion {
    font-size: 13px;
    color: #ffffffac;
    text-align: center;
    padding-top: 5px;
}

.titulo-curso1 i {
    padding: 15px 0px;
    font-size: 25px;
    width: 100%;
    color: antiquewhite;
    text-align: center;
}

.curso #precio {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;

}

.precio {
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}

/* Carrito ------------ */

.submenu {
    position: relative;
}

.submenu #cart-modal {
    display: none;
    position: absolute;
    justify-content: center;
    background-color: #02161f;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.submenu:hover #cart-modal {
    display: block;
    position: absolute;
    backdrop-filter: blur(10px);
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: #565252;
    min-width: 400px;
    padding: 20px;
}

table {
    width: 100%;
}

th,
td {
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;

}

#total-price {
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.pagar-boton {
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    background: #075f85;
    box-sizing: border-box;
    border-radius: 4px;
    color: aliceblue;
    text-decoration: none;
    margin-top: 10px;
}

.vaciar-carrito {
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    background: #075f85;
    box-sizing: border-box;
    border-radius: 4px;
    color: aliceblue;
    text-decoration: none;
    margin-top: 10px;
}

.submenu h2 {
    padding-bottom: 15px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.borrar-curso {
    background-color: rgb(255, 0, 0);
    border-radius: 50px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

/*final carrito ------------*/

/*final cursos*/
/*------------*/
/*seccion opiniones*/

.coment-users {
    width: 100%;
    height: 100%;
}

.titulo-coment #titulo-lo-que-dicen {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: 40px 0px;

}

.grid {
    width: 100%;
    padding: 1rem;
    margin: auto;
    min-height: 300px;
    background: rgb(119, 127, 170);
    display: grid;
    grid-template-areas:
        "texto-desc item1"
        "texto-desc item2"
        "texto-desc item3";
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid .texto-desc {
    grid-area: texto-desc;
    text-align: center;
}

.texto-desc #chico-coder {
    max-width: 25rem;
    margin: auto;
}

.grid .item1 {
    grid-area: item1;
    background: linear-gradient(#86cbcb, #c3c3c3, #ac8feb);
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 400ms;
}

.grid .item2 {
    grid-area: item2;
    background: linear-gradient(#86cbcb, #c3c3c3, #ac8feb);
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 400ms;
}

.grid .item3 {
    grid-area: item3;
    background: linear-gradient(#86cbcb, #c3c3c3, #ac8feb);
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 400ms;

}

.grid .item1:hover {
    transform: scale(1.1, 1.1);
}


.grid:hover>.item1:not(:hover) {
    filter: blur(5px);
    transform: scale(0.9, 0.9);
}

.grid .item2:hover {
    transform: scale(1.1, 1.1);
}


.grid:hover>.item2:not(:hover) {
    filter: blur(5px);
    transform: scale(0.9, 0.9);
}

.grid .item3:hover {
    transform: scale(1.1, 1.1);
}


.grid:hover>.item3:not(:hover) {
    filter: blur(5px);
    transform: scale(0.9, 0.9);
}

.grid div {
    border-radius: 5px;
}

.grid #main-title {
    padding-left: 10px;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color-dark);
    text-align: start;
}

.grid #desc-emp {
    text-align: start;
    font-size: 1.2rem;
    margin-left: 10px;
}

.grid #foto1 {
    max-width: 75px;
    border-radius: 50%;
    border: 2px solid #02161f;
}

.grid h4 {
    padding-top: 15px;
    text-align: end;
    color: #02161f;
    font-size: 1.1rem;
    font-weight: 800;
}

.grid span i {
    font-size: 4rem;
    color: #062cb9;
}

.grid .boton-saber-mas {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 12px;
    box-sizing: border-box;
    width: 30%;
    text-decoration: none;
    color: #200951;
    background-color: #ac8feb;
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    .grid {
        grid-template-areas:
            "texto-desc"
            "item1"
            "item2"
            "item3";
        grid-template-columns: repeat(1, 1fr);
    }

    .grid #main-title {
        font-size: 2.5rem;

    }

    .grid #desc-emp {
        font-size: 1rem;

    }

    .grid .boton-saber-mas {
        width: 80%;

    }

    .grid span i {
        font-size: 3rem;

    }
}

/*final opiniones*/
/*---------------*/
/*seccion "donde encontrarnos"*/

.seccion-mapa {
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(186, 186, 186, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 10px;
}

.seccion-mapa iframe {
    width: 40%;
    height: 40vh;
    border-radius: 50px;

}

.seccion-mapa h3 {
    font-size: 30px;
    padding: 10px;
    margin-right: 30px;
}

/*final seccion "donde encotrarnos"*/
/*------------------------------*/
/*Seccion registrate*/
.registro h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 45px;
}

.registro p {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

.registro form {
    margin: 10px;
    padding: 10px;
    background: rgba(45, 107, 127, 0.6);
    border: none;
    border-radius: 15px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.registro .datos1 {
    width: 100%;
    color: white;
    padding: 10px 15px;
    text-align: center;
}

.registro .datos label {
    max-height: 50px;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.registro .datos input {
    padding: 10px;
    width: 100%;
    border: 2px solid rgb(78, 78, 179);
    border-radius: 15px;
    background: rgba(139, 139, 139, 0.6);

}

.registro .datos {
    width: 40%;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.679);
}

.registro button {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background: #075f85;
    border-radius: 15px;
}

.registro button:hover {
    color: rgb(255, 255, 255);
    background-color: #043144;
    cursor: pointer;
    border: 1px solid #589fbe;
}

.registro textarea {
    border-radius: 5px;
    width: 95%;
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
}

.datos #ya-tienes-cuenta {
    padding-top: 0;
    padding-bottom: 3px;
    color: #000000;
    font-size: 15px;
}

.datos .ingresa-aqui {
    text-decoration: none;
    color: #000000;
}

.datos .ingresa-aqui:hover {
    color: #dedede;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
    .registro h2 {
        font-size: 36px;
    }

    .registro p {
        font-size: 24px;
    }

    .registro .datos {
        width: 80%;
    }

    .registro button {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .registro h2 {
        font-size: 28px;
    }

    .registro p {
        font-size: 20px;
    }

    .registro .datos label {
        font-size: 14px;
    }

    .registro .datos input,
    .registro textarea {
        padding: 8px;
    }

    .datos #ya-tienes-cuenta {
        font-size: 13px;
    }
}

/*final seccion registro*/
/*--------------------*/
/*Seccion Footer*/

.footer {
    background-color: #02161f;
    padding: 80px 0;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

.conteiner2 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.links p {
    color: antiquewhite;
    border-bottom: 3px solid rgb(88, 27, 145);
    margin-bottom: 10px;
    padding-bottom: 5px;
    display: inline-block;
}

.links a {
    text-decoration: none;
    list-style: none;
    color: #dadbc9ac;
}

.links a li {
    padding-top: 5px;
}

.direccion #dir {
    color: #1bb7ff8b;
    padding-top: 50px;
}

.links a li:hover {
    color: aliceblue;
}

.direccion i {
    width: 100%;
    color: #1bb7ff8b;
    text-align: center;
    padding-top: 12px;
}

/* Media Queries*/
@media (max-width: 768px) {
    .conteiner2 {
        flex-direction: column;
        align-content: center;
        gap: 20px;
    }

    .links p {
        font-size: 16px;
    }

    .direccion #dir {
        padding-top: 30px;
    }

    .direccion i {
        padding-top: 8px;
    }

    .footer {
        padding: 40px 0;
    }
}

@media (max-width: 480px) {
    .links p {
        font-size: 14px;
    }

    .direccion #dir {
        padding-top: 20px;
    }
}

/* Media Queries*/
/*final footer*/